div {
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: yellow;
    
}

div > p{
    display: none;
}

a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: darkred;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:active{
    color: green;
}

a::after{
    content: '[link]';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}

