@charset "UTF-8";
@font-face {
    font-family: Idroid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header{
    background-image: linear-gradient(to bottom, #3cd882,#2b985a, #195b38);
    color: white;
    height: 150px;
}

header > h1{
    font-family: sans-serif;
    color: rgb(223, 223, 223);
    text-align: center;
    margin: 0px;
}

header > p{
    text-align: center;
    color: rgb(219, 216, 216);
}

nav{
    margin-left: 80px;
}

nav > a{
    color: white;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-color: #84e1ad;
    margin: 0px;
}

main{
    padding: 15px;
}

h2{
    font-family: 'Idroid';
    background-image: linear-gradient(to right, rgba(211, 211, 211, 0.74), rgba(248, 248, 248, 0.021));
    color: rgb(4, 110, 4);
}

h1{
    font-family: 'Idroid';
    color: rgb(4, 110, 4);
}

div{
    background-color: white;
    width: 900px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.363);
    outline-width: 0.5px;
    outline-style: solid;
    
}

p{
    text-align: justify;
}

p > a{
    text-decoration: none;
    color: rgb(6, 109, 6);
}

img{
    display: block;
    margin: auto;
}

div#video{
    background-color: #195b38;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #195b38;
    height: 30px;
}

footer > p{
    text-align: center;
    padding: 5px;
    font-weight: normal;
    color: white;
}

div#aprender{
    background-color: #c5ebd6;
    width: 850px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.363);
    outline-width: 0.5px;
    outline-style: solid;
    border-radius: 10px;
}

div#aprender > h3{
    display: block;
    background-color: #2fa866;
    color: white;
    border-radius: 10px 10px 0px 0px;
    height: 30px;
    padding-top: 10px;
    padding-left: 4px;
}

div#lastblock{
    padding: 10px 0px 0px 0px;
    background-color: white;
    width: 900px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.363);
    outline-width: 0.5px;
    outline-style: solid;
    border-radius: 0px 0px 10px 10px;
}


